<!-- page navigation -->
<nav class="navbar navbar-default navbar-top{% if page.layout == 'content' %} no-margin{% endif %}">
    <div class="container-fluid">
        <div class="navbar-header"> 
            <div class="navbar-brand-logo">
                <img src="../assets/img/akaemmerle.png" class="rounded-circle"/>
            </div>
            <div class="navbar-brand-box">
                <h2>{{ site.data.global.title }}</h2>
                <p>{{ site.data.global.subtitle }}</p>
            </div>
            <div class="navbar-brand-labels">
                {% for label in site.data.nav.labels %}
                    <span class="badge badge-nav">{{ label.name }}</span>
                {% endfor %}
            </div>
        </div>
        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav">
                {% for item in site.data.nav.main %}
                    <li>
                        {% if item.target == 'int' %}
                            <a href="{{ item.url }}"><i class="fa {{ item.icon }}"></i><span class="navigation-name"> {{ item.text }}</span></a>
                        {% else %}
                            <a href="{{ item.url }}" target="_blank"><i class="fa {{ item.icon }}"></i><span class="navigation-name"> {{ item.text }}</span></a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
